*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #002253;
}
header{
  width: 100%;
  height: 80px;
  border-bottom-style: solid;
  font-family: "Fira Sans", sans-serif;
  border-bottom-color: white;
  border-bottom-width: 1px;
}
#brandlogo{
  width: 20%;
  height: 100%;
  color: white;

  text-align: center;
  float: left;
}
#menucon{
  width: 60%;
  height: 100%;
  float: left;
}
#btn_box{
  width: 20%;
  height: 100%;
  float: left;
}
#brandlogo_txt{
  padding-top: 20px;
  font-weight: normal;
  font-size: 23px;
  margin-top: 10px;
}
#navbar{
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
#naviteam{
  padding: 10px;
  display: inline-block;
}
#nav_link{
  text-decoration: none;
  font-size: 19px;
  color: white;
}
#btn_box{

}
#btn_txt{
  text-align: center;
  color: black;
  width: 200px;
  padding-top: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 80px;
  height: 40px;
  background-color: red;
  cursor: pointer;
}
#btn_txt:hover{
  color: white;
}
#page_btn_box{
  width: 100%;
  height: 80px;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  float: left;
}
#page_btn_text{
  height: 40px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  float: left;
  color: #ccc;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
}
.allbtn{
  background-color: red;
  color: black !important;
}
#page_btn_text:hover{
  background-color: red;
  cursor: pointer;
  color: black;
}
#gallryimg_con{
  width: 100%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.9);
  float:left;
}
#img_box{
  width: 453px;
  height: 350px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 40px;
  float: left;

}
#gallry_img{
  width: 100%;
  height: 100%;
}











footer{
  width: 100%;
  height: 300px;
  background-color: rgba(0,0,0, 0.8);
  padding: 100px;
  float: left;
}
#contect_us_box{
  color: white;
  font-family: "Fira Sans", sans-serif;
  float: left;
  margin-left: 80px;
}
#contect_us_text{
font-size: 30px;
margin-top: 30px;
font-weight: normal;
margin-bottom: 20px;
}
#Contact_us_item{
  margin-bottom: 15px;
}
#sendIcon{
margin-right: 15px;
  color: red;
  font-size: 20px;
}
