*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #002253;
}
header{
  width: 100%;
  height: 80px;
  border-bottom-style: solid;
  font-family: "Fira Sans", sans-serif;
  border-bottom-color: white;
  border-bottom-width: 1px;
}
#brandlogo{
  width: 20%;
  height: 100%;
  color: white;

  text-align: center;
  float: left;
}
#menucon{
  width: 60%;
  height: 100%;
  float: left;
}
#btn_box{
  width: 20%;
  height: 100%;
  float: left;
}
#brandlogo_txt{
  padding-top: 20px;
  font-weight: normal;
  font-size: 23px;
  margin-top: 10px;
}
#navbar{
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
#naviteam{
  padding: 10px;
  display: inline-block;
}
#nav_link{
  text-decoration: none;
  font-size: 19px;
  color: white;
}
#btn_box{

}
#btn_txt{
  text-align: center;
  color: black;
  width: 200px;
  padding-top: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 80px;
  height: 40px;
  background-color: red;
  cursor: pointer;
}
#btn_txt:hover{
  color: white;
}
#service_icon_con{
  width: 100%;
  height: 900px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  background-color: white;
}
#Gym_service_head{
  text-align: center;
  color: black;
  margin-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  margin-top: 50px;
}
#icon_box{
width: 300px;
height: 230px;
text-align: center;
font-family: "Josefin Sans", sans-serif;
float: left;
margin-left: 30px;
margin-bottom: 20px;

}
#icon_img{
  width: 150px;
  height: 200px;
}
#icon_box a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#Description_con{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  float: left;

}
#open24hour_head{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
#open24hour_Description_box{
  width: 100%;
float: left;
}
#open24HOUR_imgbox{
  width: 400px;
  height: 350px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  float: left;
}
#open24hour_Description_text1{
  width: 800px;
  padding: 10px;
  text-align: justify;
  float: left;
  color: black;
  line-height: 30px;
  font-size: 24px;

}
#open24hour_Description_text2{
  width: 100%;
  float: left;
  color: black;
  line-height: 30px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 150px;
}
#SPACE_head{
  text-align: center;
  margin-bottom: 10px;
    margin-bottom: 50px;
  font-size: 40px;
  float: left;
}
#EQUIPMENT_head{
  text-align: center;
  margin-bottom: 10px;
    margin-bottom: 50px;
  font-size: 30px;
  float: left;
}
#SPINNING_STUDIO_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40PX;
  float: left;
}
#ZUMBA_CLASSES_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  float: left;
}
#YOGA_CLASSES_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40PX;
  float: left;
}
#AEROBICS_CLASSES_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40PX;
  float: left;
}
#PERSONAL_TRAININGr_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  float: left;
}
#PLYOMETRIC_BOXES_head{
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  float: left;
}

#Top_back_btn{
  padding: 10px;
  position: fixed;

  top:600px;
  right: 50px;
  color: white;
  background-color: red;
  border-color: black;
  cursor: pointer;

}


footer{
  width: 100%;
  height: 300px;
  background-color: rgba(0,0,0, 0.8);
  padding: 100px;
  float: left;
}
#contect_us_box{
  color: white;
  font-family: "Fira Sans", sans-serif;
  float: left;
  margin-left: 80px;
}
#contect_us_text{
font-size: 30px;
margin-top: 30px;
font-weight: normal;
margin-bottom: 20px;
}
#Contact_us_item{
  margin-bottom: 15px;
}
#sendIcon{
margin-right: 15px;
  color: red;
  font-size: 20px;
}
